.signUp__wrap {
  overflow-x: hidden;
  margin-top: -20px;
}

.signUp {
  width: 100vw;
  height: 100%;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/b77751c7-0e02-4941-af39-30514ff6b3e2/c2c47d83-d97f-47ff-9afb-582ee8d14e1c/GH-en-20211026-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  background-position: center center;
  border-bottom: 8px solid #222;
}

.signUp__cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.signUp__nav {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signUp__navlogo {
  max-width: 167px;
  object-fit: contain;
  margin: 0 2rem;
}

.sign-up__btn {
  padding: 7px 17px;
  width: 90px;
  background-color: #e50914;
  height: 36px;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  outline: none;
  border: none;
  position: relative;
  right: 40px;
  margin-top: 0;
  margin-right: 12px;
  cursor: pointer;
}

.sign-up__btn:hover {
  background-color: #db0510;
}

.signUp__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 950px;
  height: 463px;
  margin-top: 3rem;
}

.signUp__title {
  max-width: 540px;
  height: fit-content;
  font-size: 27px;
  text-align: center;
}

.signUp__subTitle {
  margin: 2rem 0;
  font-size: 1rem;
}

.signUp__subTitle h2 {
  font-weight: lighter;
}

.signUp__secontSubTitle {
  text-align: center;
  width: 504px;
  font-weight: lighter;
}

.signUp__secontSubTitle h3 {
  font-weight: lighter;
  margin-bottom: 1rem;
}

@media (max-width: 520px) {
  .signUp {
    width: 105vw;
  }
  .signUp__title {
    max-width: 440px;
  }

  .signUp__secontSubTitle {
    text-align: center;
    width: 404px;
    font-weight: lighter;
  }

  .signUp__navlogo {
    max-width: 127px;
    margin: 0 1rem;
  }

  .sign-up__btn {
    right: 10px;
  }
}
